<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Chat</title>
	<style>
		input {
			display: block;
		}

		ul {
			list-style: none;
		}
	</style>
</head>

<body>
	<ul id="messages"></ul>
	<h1>WebSocketを使ったチャットアプリケーション</h1>
	<form action="" id="chatbox">
		<textarea></textarea>
		<input type="submit" value="送信" />
	</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		$(function () {
			var socket = null;
			var msgBox = $('#chatbox textarea');
			var messages = $('#messages');
			$('#chatbox').submit(function () {
				if (!msgBox.val()) return false;
				if (!socket) {
					alert("error:don't connected websocket");
					return false;
				}
				socket.send(msgBox.val());
				msgBox.val("");
				return false;
			});
			if (!window['WebSocket']) {
				alert('error:Don\'t use WebSocket Browsers');
			} else {
				socket = new WebSocket("ws://{{.Host}}/room");
				socket.onclose = function () {
					alert('connect finish');
				}
				socket.onmessage = function (e) {
					messages.append($('<li>').text(e.data));
				}
			}
		});
	</script>
</body>

</html>